src/molml_mcp.egg-info/top_level.txt
src/molml_mcp.egg-info/SOURCES.txt
.gitignore
src/molml_mcp.egg-info/PKG-INFO
src/molml_mcp.egg-info/dependency_links.txt
src/molml_mcp.egg-info/requires.txt
*/__pycache__/*
.DS_Store
.env
src/molml_mcp/__pycache__/mcp_app.cpython-313.pyc
src/molml_mcp/__pycache__/server.cpython-313.pyc
src/molml_mcp/tools/__pycache__/__init__.cpython-313.pyc
src/molml_mcp/tools/core_mol/__pycache__/smiles_ops.cpython-313.pyc
src/molml_mcp/tools/core_mol/__pycache__/__init__.cpython-313.pyc
*.pyc
uv.lock
tests/TEST_RESULTS.md
tests/CLEANING_TEST_RESULTS.md
tests/RESOURCE_MANAGEMENT_TEST_SUMMARY.md
tests/PIPELINE_TEST_RESULTS.md
deploy_mcp_server.sh
img/banner.png
.gitignore
img/logo.ai
